body {
	background-color: #222;
	margin: 10px;
	padding: 0;
	font-family: Arial, sans-serif;
}

p {
	margin: 0 0 10px 0;
}

div#frame {
	margin: 0 auto;
	width: 800px;
	background-color: #fff;
}

div#footer {
	height: 20px;
	background-color: #222;
	position: relative;
	color: #fff;
	border-color: #fff;
	border-width: 1px;
	border-style: solid;
	text-align: center;
	font-size: small;
	line-height: 20px;
}

div#header {
	height: 68px;
	background-color: #222;
	position: relative;
	color: #fff;
	border-color: #fff;
	border-width: 1px;
	border-style: solid;
}

div#header img.logo {
	position: absolute;
	top: 10px;
	left: 10px;
	border: 0;
}

div#header h1 {
	position: absolute;
	top: 6px;
	left: 68px;
	margin: 0;
	padding: 0;
}

div#header span.description {
	position: absolute;
	top: 40px;
	left: 68px;
	font-size: small;
	color: #ddd;
}

div#main {
	padding: 10px;
	font-size: 12px;
}

.ui-tabs-panel h2 {
	font-size: 18px;
	margin: 10px;
	padding: 0;
}

div#getpcman {
	display: block;
	width: 360px;
	height: 240px;
	float: left;
	clear: left;
}

div#screenshot {
	display: block;
	width: 360px;
	height: 240px;
	float: right;
}

div#screenshot img {
	display: block;
	margin: 0 auto 0 auto;
}

div#news {
	clear: both;
	padding-top: 20px;
}

div#news h3 {
	padding: 0.5em 0.5em 0.5em 1em;
}

div.getpcman {
	display: block;
	width: 360px;
	height: 120px;
	background-image: url(../images/roundedcornr_871976.gif);
	position: relative;
}

div#getpcman span {
	position: absolute;
	cursor: pointer;
}

div#getpcman span.download {
	font-size: 24px;
	top: 6px;
	left: 8px;
}

div#getpcman span.pcman {
	font-size: 32px;
	font-weight: bold;
	top: 30px;
	left: 64px;
}

div#getpcman span.version {
	font-size: 16px;
	top: 64px;
	left: 200px;
}

div#getpcman span.other {
	font-size: 12px;
	bottom: 5px;
	right: 7px;
}

div#getpcman a {
	color: #1c94c4;
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	/*
	background-image: url(download.gif);
	background-repeat: no-repeat;
	background-position: 48px 68px;
	*/
}

div#getpcman a:hover {
	color: #eb8f00;
}

div#getpcman span.other a {
	background-image: none;
	display: inline;
	color: #1c94c4;
}

div#getpcman span.other a:hover {
	color: #eb8f00;
}

div.ui-tabs-panel a {
	color: #1c94c4;
}

div.ui-tabs-panel a:hover {
	text-decoration: none;
	color: #eb8f00;
}

div#sptabs {
	font-size: 12px;
}

div#sptabs table {
	border: 1px solid #ddd;
	border-collapse: collapse;
	margin: 10px auto 10px auto;
	width: 95%;
}

div#sptabs table td, div#sptabs table th{
	border: 1px solid #ddd;
	padding: 4px;
}
